<h1>EAT BURGER</h1>

<ul class='not-eaten' style="list-style-type:none">
	{{!-- Each index in object burgers --}}
	{{#each burgers}}
		{{#if devoured}}
		{{!-- Workaround for devoured false --}}
		{{else}}
			<li>
				<p class='not-eaten-list'> {{burger_name}} 
				<button class='devour' data-id='{{this.id}}'>EAT MEEEEE!</button></p>

			</li>
		{{/if}}
	{{/each}}
</ul>


<ul class='eaten' style="list-style-type:none">
	{{#each burgers}}
		{{#if devoured}}
			<li>
				<p class='eaten-list'>You ate the {{burger_name}}</p>
			</li>
		{{/if}}
	{{/each}}
</ul>

